<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>GetUser</servlet-name>
        <servlet-class>servlets.GetUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUp</servlet-name>
        <servlet-class>servlets.SignUp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogIn</servlet-name>
        <servlet-class>servlets.LogIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>servlets.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getDocList</servlet-name>
        <servlet-class>servlets.GetDocList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDoctor</servlet-name>
        <servlet-class>servlets.DeleteDoctor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getRendezvousOnDate</servlet-name>
        <servlet-class>servlets.GetRandevouzOnDate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllRandevouz</servlet-name>
        <servlet-class>servlets.GetAllRandevouz</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetSimpleUserList</servlet-name>
        <servlet-class>servlets.GetSimpleUserList</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetUser</servlet-name>
        <url-pattern>/GetUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUp</servlet-name>
        <url-pattern>/SignUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogIn</servlet-name>
        <url-pattern>/LogIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getDocList</servlet-name>
        <url-pattern>/getDocList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteDoctor</servlet-name>
        <url-pattern>/DeleteDoctor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getRendezvousOnDate</servlet-name>
        <url-pattern>/getRendezvousOnDate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllRandevouz</servlet-name>
        <url-pattern>/GetAllRandevouz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSimpleUserList</servlet-name>
        <url-pattern>/GetSimpleUserList</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
